/** 房源信息 */
.group{margin-top: 10px;padding-top: 10px;width: 100%;border-top: 1px solid #cfdadd;}
.top{height: 30px;}
.td{width: 30%;margin-top: 10px;}
.tr{width: 100%;margin-top: 10px;}
.title{width:auto !important;height:100% !important; display:initial;position:inherit;padding:0;margin-left:5px;}
input[type='checkbox']{margin-left: 10px;}

/** 房源配图 */
.tdImg{width: 83px;height: 56px;}


/** 房型 */
.modalTitle{font-size: 18px;font-weight: bold;height: 45px;width: 100%;padding: 10px;border-bottom: 1px solid #cfdadd;margin-bottom: 10px;}
.modalContentLabel{width: 100px;}
.modalContentInput{width: 200px;}
.modalContent{padding-left: 40px;}
.roomImgTop{height: 40px;margin-top: 20px;border-top: 1px solid #cfdadd;padding-top: 10px;}
.roomImgDiv{border-top: 1px solid #cfdadd;margin: 10px 0 20px 0;padding: 5px 0 0 40px;}
.roomImg{margin:0 0 10px 12px;width: 105px;height: 69px;padding: 0;text-align: center;}